<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" href="/static/icons/icon-128x128.png">
    <meta name="theme-color" content="#ffffff">
    
    <title>Authentication</title>
    <script>
        function set_password(event) {
            event.preventDefault();
            const inputValue = document.getElementById('password').value;
            const cookieName = 'password';

            const expiryDate = new Date();
            expiryDate.setHours(expiryDate.getHours() + 1);

            document.cookie = `${cookieName}=${encodeURIComponent(inputValue)};path=/`;

            window.location.href = "{{ referer }}";
        }
    </script>
</head>
<body>
    <a href="/">Main Page</a>
    <br>
    <h1>Authentication</h1>
    <form onsubmit="set_password(event)">
        <input type="password" id="password" placeholder="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
