<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <title>Authentification</title>
    <script>
        function set_password(event) {
            event.preventDefault();
            const inputValue = document.getElementById('password').value;
            const cookieName = 'password';

            const expiryDate = new Date();
            expiryDate.setHours(expiryDate.getHours() + 1);

            document.cookie = `${cookieName}=${encodeURIComponent(inputValue)};expires=${expiryDate.toUTCString()};path=/`;

            window.location.href = '/mariadb/stock/tickers';
        }
    </script>
</head>
<body>
    <h1>Authentification</h1>
    <form onsubmit="set_password(event)">
        <input type="password" id="password" placeholder="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
