<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" href="/static/icons/icon-128x128.png">
    <meta name="theme-color" content="#ffffff">
    
    <title>My page</title>
</head>
<body>
    <h1>HI</h1>
    <a href="/mariadb/stock/tickers">Stock Database</a>
    <br>
    <a href="/files/ls">Files</a>

    <br><br>

    <a href="https://github.com/Y0rFa1se/API-SERVER">Github Repository</a>
</body>
</html>
